<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="index.html">
      <span class="align-middle">PMS</span>
    </a>

    <ul class="sidebar-nav">
      <li class="sidebar-header">
        Main Menu
      </li>

      <li class="sidebar-item active">
        <a class="sidebar-link" href="{% url 'admindash' %}">
          <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="{% url 'profile' %}">
          <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="{% url 'allproject' %}">
          <i class="align-middle" data-feather="list"></i> <span class="align-middle">All Project</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="{% url 'allusers' %}">
          <i class="align-middle" data-feather="users"></i> <span class="align-middle">All Users</span>
        </a>
      </li>

      <li class="sidebar-header">
        Sub Menu
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="{% url 'alltask' %}">
          <i class="align-middle" data-feather="book-open"></i> <span class="align-middle">My Tasks</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="{% url 'chats' %}">
          <i class="align-middle" data-feather="message-circle"></i> <span class="align-middle">Chats</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="{% url 'addproject' %}">
          <i class="align-middle" data-feather="edit"></i> <span class="align-middle">Add Project</span>
        </a>
      </li>
      {% if request.user.is_superuser %}
      <li class="sidebar-item">
        <a class="sidebar-link" href="{% url 'addusers' %}">
          <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Add Members</span>
        </a>
      </li>
      {% endif %}
      <li class="sidebar-item">
        <a class="sidebar-link" href="{% url 'settings' %}">
          <i class="align-middle" data-feather="settings"></i> <span class="align-middle">Settings</span>
        </a>
      </li>
    </ul>
  </div>
</nav>