{% extends 'main/base.html' %}
{% block content %}
<main class="content">
    <div class="container-fluid p-0">
        <div class="mb-3">
            <h1 class="h3 d-inline align-middle">Add New Project</h1>
        </div>

        <div class="row">
            <div class="col-md-3 col-xl-2">

                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Adding Project</h5>
                    </div>
                    <div class="list-group list-group-flush" role="tablist">
                        <a class="list-group-item list-group-item-action active" data-bs-toggle="list" href="#stepone" role="tab" aria-selected="true">
                            Get Started
                        </a>
                        <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#steptwo" role="tab" aria-selected="false">
                            Assign Members
                        </a>
                        <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#stepthree" role="tab" aria-selected="false">
                            Finish Setting Up
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-xl-10">
                <form action="{% url 'addproject' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include 'utils/alert.html' %}
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="stepone" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" for="inputEmail4">Title</label>
                                            <input type="text" class="form-control" id="inputEmail4" name="title" placeholder="Project title">
                                        </div>
                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" for="inputState">Priority</label>
                                            <select id="inputState" class="form-control" name="prior">
                                                {% for pror, key in priors %}
                                                    <option value="{{ pror }}" selected="">{{ key }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label w-100">File input</label>
                                        <input type="file" name="imagefile">
                                    </div>
                                    <div class="row">
                                        <div class="mb-3 col-md-5">
                                            <label class="form-label" for="inputCity">Start Date</label>
                                            <input type="date" name="startdate" class="form-control" id="inputCity" placeholder="24/01/2000">
                                        </div>
                                        <div class="mb-3 col-md-5">
                                            <label class="form-label" for="inputCity">End Date</label>
                                            <input type="date" name="enddate" class="form-control" id="inputCity" placeholder="24/01/2000">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="steptwo" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <div class="mb-3 col-md-2">
                                        <label class="form-label" for="inputState">Members</label>
                                        {% for user in users %}
                                        <label class="form-check m-0">
                                            <input type="checkbox" name="userlist[]" value="{{ user.id }}" class="form-check-input">
                                            {% if user.first_name == '' %}
                                                <span class="form-check-label">{{ user.username }}</span>
                                            {% else %}
                                                <span class="form-check-label">{{ user.first_name }} {{ user.last_name }}</span>
                                            {% endif %}
                                        </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="stepthree" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="mb-3 col-md-3">
                                            <label class="form-label" for="inputState">Status</label>
                                            <select id="inputState" class="form-control" name="stat">
                                                {% for key, value in status %}
                                                    <option value="{{ key }}" selected="">{{ value }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mb-3 col-md-8">
                                            <label class="form-label">Description</label>
                                            <textarea class="form-control" rows="2" name="description" placeholder="Textarea" value="{{ profile.description }}"></textarea>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</main>
{% comment %} <main class="content">
    <div class="container-fluid p-0">
        <div class="mb-3">
            <h1 class="h3 d-inline align-middle">Add New Project</h1>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Project Form</h5>
                        <h6 class="card-subtitle text-muted">Fill the form to create new project here</h6>
                    </div>
                    <div class="card-body">
                        <form action="#" method="post">
                            <div class="tab-content">
                                
                                <div class="tab-pane fade active show" id="stepone" role="tabpanel">
                                    <div class="row">
                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" for="inputEmail4">Title</label>
                                            <input type="text" class="form-control" id="inputEmail4" placeholder="Project title">
                                        </div>
                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" for="inputState">Priority</label>
                                            <select id="inputState" class="form-control">
                                                {% for pror, key in priors %}
                                                    <option name="prior" value="{{ pror }}" selected="">{{ key }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label w-100">File input</label>
                                        <input type="file" name="imagefile">
                                    </div>
                                    <div class="row">
                                        <div class="mb-3 col-md-5">
                                            <label class="form-label" for="inputCity">Start Date</label>
                                            <input type="date" name="startdate" class="form-control" id="inputCity" placeholder="24/01/2000">
                                        </div>
                                        <div class="mb-3 col-md-5">
                                            <label class="form-label" for="inputCity">End Date</label>
                                            <input type="date" name="enddate" class="form-control" id="inputCity" placeholder="24/01/2000">
                                        </div>
                                    </div>
                                    <a href="#steptwo" data-bs-toggle="list" class="btn btn-primary" role="tab" aria-selected="true">Submit to Process</a>
                                </div>

                                <!--Step two of the form-->
                                <div class="tab-pane fade" id="steptwo" role="tabpanel">
                                    <div class="row">
                                        <div class="mb-3 col-md-3">
                                            <label class="form-label" for="inputState">Status</label>
                                            <select id="inputState" class="form-control">
                                                {% for key, value in status %}
                                                    <option name="stat" value="{{ key }}" selected="">{{ value }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mb-3 col-md-8">
                                            <label class="form-label">Description</label>
                                            <textarea class="form-control" rows="2" name="description" placeholder="Textarea" value="{{ profile.description }}"></textarea>
                                        </div>
                                        <div class="mb-3 col-md-2">
                                            <label class="form-label" for="inputState">Members</label>
                                            {% for user in users %}
                                            <label class="form-check m-0">
                                                <input type="checkbox" name="userlist[]" value="{{ user.id }}" class="form-check-input">
                                                {% if user.first_name == '' %}
                                                    <span class="form-check-label">{{ user.username }}</span>
                                                {% else %}
                                                    <span class="form-check-label">{{ user.first_name }} {{ user.last_name }}</span>
                                                {% endif %}
                                            </label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mb-3 col-md-2">
                                            <a href="#stepone" data-bs-toggle="list" role="tab" class="btn btn-primary" aria-selected="false">Back</a>
                                        </div>
                                        <div class="mb-3 col-md-2">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main> {% endcomment %}
{% endblock %}