<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="index.html">
      <span class="align-middle">PMS</span>
    </a>

    <ul class="sidebar-nav">
      <li class="sidebar-header">
        Main Menu
      </li>

      <li class="sidebar-item active">
        <a class="sidebar-link" href="index.html">
          <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="{% url 'profile' %}">
          <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="{% url 'allproject' %}">
          <i class="align-middle" data-feather="list"></i> <span class="align-middle">All Project</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="pages-profile.html">
          <i class="align-middle" data-feather="users"></i> <span class="align-middle">All Members</span>
        </a>
      </li>

      <li class="sidebar-header">
        Sub Menu
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="ui-buttons.html">
          <i class="align-middle" data-feather="edit"></i> <span class="align-middle">Add Project</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="ui-forms.html">
          <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Add Members</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="ui-cards.html">
          <i class="align-middle" data-feather="plus-square"></i> <span class="align-middle">Add Customers</span>
        </a>
      </li>
    </ul>
  </div>
</nav>