{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<main class="content">
    <div class="container-fluid p-0">
        <div class="mb-3">
            <h1 class="h3 d-inline align-middle">Messages</h1>
        </div>
        <div class="card">
            <div class="row g-0">
                {% include 'utils/alert.html' %}
                <div class="col-12 col-lg-5 col-xl-3 border-end">

                    <div class="px-4 d-none d-md-block">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <input type="text" class="form-control my-3" placeholder="Search...">
                            </div>
                        </div>
                    </div>
                    {% for user in users %}
                        {% if threads %}
                            {% for thread in threads %}
                                {% comment %} {% if user == thread.receiver %} {% endcomment %}
                                <form action="{% url 'chats' %}" method="get">
                                    {% csrf_token %}
                                    <input input="text" name="receiver" value="{{ thread.receiver }}" hidden>
                                {% comment %} {% endif %} {% endcomment %}
                                    <button type="submit" class="list-group-item list-group-item-action border-0">
                                        {% if message_count > 0 %}
                                        <div class="badge bg-success float-end">{{ message_count }}</div>
                                        {% endif %}
                                        <div class="d-flex align-items-start">
                                            <img src="{{ user.profile_image.url }}" class="rounded-circle me-1" alt="{{ user.user.first_name }} {{ user.user.last_name }}" width="40" height="40">
                                            <div class="flex-grow-1 ms-3">
                                                {{ user.user.first_name }} {{ user.user.last_name }}
                                                {% if user.is_authenticated == True %}
                                                    <div class="small"><span class="fas fa-circle chat-online"></span> Online</div>
                                                {% else %}
                                                    <div class="small"><span class="fas fa-circle chat-offline"></span> Offline</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </button>
                                </form>
                            {% endfor %}
                        {% else %}
                        <form action="{% url 'create-thread' %}" method="post">
                            {% csrf_token %}
                            <input input="text" name="username" value="{{ user.user.username }}" hidden>
                            <button type="submit" class="list-group-item list-group-item-action border-0">
                                <div class="d-flex align-items-start">
                                    <img src="{{ user.profile_image.url }}" class="rounded-circle me-1" alt="{{ user.user.first_name }} {{ user.user.last_name }}" width="40" height="40">
                                    <div class="flex-grow-1 ms-3">
                                        {{ user.user.first_name }} {{ user.user.last_name }}
                                        {% if user.is_authenticated == True %}
                                            <div class="small"><span class="fas fa-circle chat-online"></span> Online</div>
                                        {% else %}
                                            <div class="small"><span class="fas fa-circle chat-offline"></span> Offline</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </button>
                        </form>
                        {% endif %}
                    {% endfor %}
                            
                    <hr class="d-block d-lg-none mt-1 mb-0">
                </div>
                <div class="col-12 col-lg-7 col-xl-9">
                    {% if profile %}
                        <!-- Receiver profile-->
                        <div class="py-2 px-4 border-bottom d-none d-lg-block">
                            <div class="d-flex align-items-center py-1">
                                <div class="position-relative">
                                    <img src="{{ profile.profile_image.url }}" class="rounded-circle me-1" alt="{{ profile.user.first_name }} {{ profile.user.last_name }}" width="40" height="40">
                                </div>
                                <div class="flex-grow-1 ps-3">
                                    <strong>{{ profile.user.first_name }} {{ profile.user.last_name }}</strong>
                                    {% comment %} <div class="text-muted small"><em>Typing...</em></div> {% endcomment %}
                                </div>
                                <div>
                                    <button class="btn btn-primary btn-lg me-1 px-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone feather-lg"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg></button>
                                    <button class="btn btn-info btn-lg me-1 px-3 d-none d-md-inline-block"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-video feather-lg"><polygon points="23 7 16 12 23 17 23 7"></polygon><rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect></svg></button>
                                    <button class="btn btn-light border btn-lg px-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal feather-lg"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg></button>
                                </div>
                            </div>
                        </div>
                        <!-- Main Messages-->
                        <div class="position-relative">
                            {% if chats %}
                                {% for chat in chats %}
                                    <div class="chat-messages p-4">
                                    {% if chat.sender_user == request.user %}
                                        <div class="chat-message-right pb-4">
                                            <div>
                                                <img src="{% static 'img/avatars/avatar.jpg' %}" class="rounded-circle me-1" alt="Chris Wood" width="40" height="40">
                                                <div class="text-muted small text-nowrap mt-2">{{ chat.created_on.time }}</div>
                                            </div>
                                            <div class="flex-shrink-1 bg-light rounded py-2 px-3 me-3">
                                                <div class="font-weight-bold mb-1">You</div>
                                                {{ chat.body }}
                                            </div>
                                        </div>
                                    {% elif chat.receiver_user == request.user %}
                                        <div class="chat-message-left pb-4">
                                            <div>
                                                <img src="{% static 'img/avatars/avatar-3.jpg' %}" class="rounded-circle me-1" alt="Sharon Lessman" width="40" height="40">
                                                <div class="text-muted small text-nowrap mt-2">{{ chat.created_on.time }}</div>
                                            </div>
                                            <div class="flex-shrink-1 bg-light rounded py-2 px-3 ms-3">
                                                <div class="font-weight-bold mb-1">{{ chat.receiver_user.first_name }} {{ chat.receiver_user.last_name }}</div>
                                                {{ chat.body }}
                                            </div>
                                        </div>
                                    {% endif %}
                                    </div>
                                {% endfor %}
                            {% else %}
                            <br/><br/><br/>
                                    <center><h2> Say Hi</h2> </center>
                            <br/><br/><br/>
                            {% endif %}
                        </div>
                        
                        <div class="flex-grow-0 py-3 px-4 border-top">
                            <form action="" method="post">
                            <div class="input-group">
                                <input type="text" class="form-control" name="thread" value="{{ thread.id }}" hidden>
                                <input type="text" class="form-control" name="receiver" value="{{ thread.receiver }}" hidden>
                                <input type="text" class="form-control" name="message" placeholder="Type your message">
                                <button class="btn btn-primary">Send</button>
                            </div>
                            </form>
                        </div>
                    {% else %}
                    <br/> <br/><br/>
                       <center> <p><h1>
                        No Messages Here Yet,
                        Select a user and start a chat
                       </h1> </p></center>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}