{% extends 'main/base.html' %}
{% block content %}
<main class="content">
    <div class="container-fluid p-0">
        <div class="mb-3">
            <h1 class="h3 d-inline align-middle">Update Tasks</h1>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Update Task for {{ project.title }}</h5>
                    </div>
                    <form action="{% url 'edittask' project.id task.id %}" method="post">
                        {% csrf_token %}
                        {% include 'utils/alert.html' %}
                        <div class="card-body">
                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    <label class="form-label" for="inputEmail4">Title</label>
                                    <input type="text" class="form-control" id="inputEmail4" name="title" value="{{ task.task_name }}" placeholder="Tasks title">
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label class="form-label" for="inputState">Priority</label>
                                    <select id="inputState" class="form-control" name="prior">
                                        {% for pror, key in priors %}
                                            {% if task.priority == pror %}
                                                <option value="{{ task.priority }}" selected="">{{ task.priority }}</option>
                                            {% else %}
                                                <option value="{{ pror }}" selected="">{{ key }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col-md-3">
                                    <label class="form-label" for="inputState">Status</label>
                                    <select id="inputState" class="form-control" name="status">
                                        {% for key, value in status %}
                                            {% if task.status == value %}
                                                <option name="stat" value="{{ key }}" selected="">{{ value }}</option>
                                            {% else %}
                                                <option value="{{ key }}" selected="">{{ value }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <input type="text" value="{{ task.due }}" name="due" hidden>
                                <div class="mb-3 col-md-2">
                                    <label class="form-label" for="inputState">Members</label>
                                    {% for user in project.users.all %}
                                    <label class="form-check m-0">
                                        <input type="checkbox" name="userlist[]" value="{{ user.id }}" class="form-check-input">
                                        {% if user.first_name == '' %}
                                            <span class="form-check-label">{{ user.username }}</span>
                                        {% else %}
                                            <span class="form-check-label">{{ user.first_name }} {{ user.last_name }}</span>
                                        {% endif %}
                                    </label>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary">Update Task</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}